[Desktop Entry]
Name=oXide8.6.9
GenericName=open eXtensible intelligence and detection engine
Comment=HyperSecurityLabs — oXide v8.6.9 CE — AI-powered zero-day web exploitation & vulnerability scanner
Exec=oxide-ce
Icon=oxide-community
Terminal=true
Type=Application
Categories=kali-web-vulnerability-scanning;kali-initial-access;kali-reconnaissance;
Keywords=scanner;vulnerability;security;web;hypersecurity;khaninkali;oxide;
StartupNotify=true
StartupWMClass=oxide-community
